// 混合器

// 两端对齐
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// 两端对齐垂直居中
@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 两端对齐允许换行
@mixin flex-between-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-around-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

// 弹性 + x轴居中
@mixin flex-center {
  display: flex;
  justify-content: center;
}

// 弹性 + x轴y轴居中
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 单行文本溢出省略
@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin Overflow-ellipsis($n) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
  overflow: hidden;
}

@mixin basic-animation {
  transition: all 0.5s linear;
}

// 隐藏Y轴滚动条
@mixin scrollHidden {
  overflow: hidden !important;
  overflow-y: scroll !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important;  /* IE 10+ */
  &::-webkit-scrollbar { /* WebKit */
    width: 0 !important;
    height: 0 !important;
  }
}
