// 工具栏
.toolbar {
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid #DCDFE6;
}
// 工具栏input
.toolbar-file-input-box{
  width: 0;
  height: 0;
  overflow: hidden;
}